{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CNR Ouled-Djellal Form Filler</title>
    <link rel="icon" type="image/png" href="{% static 'paycheck/img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'paycheck/css/style.css' %}">
</head>
<body>
<header class="topbar">
    <a class="brand" href="{% url 'paycheck:template_list' %}">
        <img class="brand-logo" src="{% static 'paycheck/img/logo.png' %}" alt="CNR Ouled-Djellal Form Filler logo">
        <span>CNR Ouled-Djellal Form Filler</span>
    </a>
    <a class="button" href="{% url 'paycheck:template_create' %}">New Template</a>
</header>
<main class="container">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block content %}{% endblock %}
</main>
</body>
</html>
